html {
  font-size: 18px;
  clear: both;
}
body {
  font-family: 'Open Sans', sans-serif;
}
header {
  background-color: black;
  color:white;
  padding-left: 1.2rem;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  margin-top: -1.3rem;
  height: 10rem;
}
nav {
  background-color: gray;
  padding: .7rem;
  margin-top: -1.3rem;
}
article {
  padding-left: .7rem;
  width: 22.6rem;
  padding-top: 1rem;
  letter-spacing: .01rem;
  float: right;
}
aside {
  border: solid;
  border-width: .1rem;
  width: 18rem;
  height: 29.9rem;
  float: left;
  margin-top: -30.5rem;
  background-color: #663399;
  color: white;
}

.container {
  width: 780px;
  margin-left: 21.5rem;
}

.red-link {
  color: red;
}
a {
  color:purple;
}

footer {
  padding-left: .7rem;
  padding-top: 1rem;
  background-color: black;
  color: white;
  line-height: .2rem;
  height: 9.2rem;
}

figure {
  padding-left: 1.5rem;
}
figure h2 {
  padding-bottom:0;
  margin-bottom: .5rem;
}
aside h2, h3 {
  text-align: center;
}
aside p {
  padding-left: .5rem;
  margin-top: -.5rem;
}
.odin {
  float: right;
  margin-right: .5rem;
  margin-top: -1rem;
}
.first-h2-aside {
    margin-top: -.5rem;
}
.subhead {
  color: gray;
  margin-top: -1rem;
}
nav {
  word-spacing: 2rem;
  font-size: 1.1rem;
}
nav a {
  margin-left: .9rem;
}
.no-space {
  word-spacing: normal;
}
.head {
  margin-top: 4.5rem;
}
.cta {
  float: right;
  margin-top: -8rem;
  margin-right: 2rem;
}
main {
  background-color: lightgrey;
  height: 32rem;
}
.disclaimer {
  text-align: center;
  clear: both;
}
.disclaimer2 {
   text-align: center;
  clear: both;
}
.dollar {
  margin-left: -3em;
}
